# Optimized MySQL configuration for cPanel servers by Fotis Evangelou - Updated June 2016
#
# The settings provided below are a starting point for a 4GB-8GB RAM server with 4 CPU cores.
# If you have less or more resources available you should adjust accordingly to save CPU,
# RAM and disk I/O usage.
# The settings marked with a specific comment or the word "UPD" after the value
# should be adjusted for your system by using MySQL DB diagnostics tools like:
# https://launchpad.net/mysql-tuning-primer
# or
# http://blog.mysqltuner.com/download/
#
# Note that if there is NO comment after a setting value, then you don't need to adjust it.
#
#
# TROUBLESHOOTING
# If MySQL cannot start or restart, then perform the following actions. If any terminal commands
# are mentioned, make sure you execute them as "root" user:
#
# 1. If the server had the stock MySQL configuration or you updated any "innodb-log-*" settings,
#    then execute these commands:
#    $ rm -rvf /var/lib/mysql/ib_logfile*
#    $ chown -R mysql:mysql /var/lib/mysql/*
#    $ /scripts/restartsrv_mysql
#
# 2. Comment out the settings "basedir" and "pid-file" then execute this command:
#    $ /scripts/restartsrv_mysql
#
# 3. If the setting "bind-address" is not commented out, then make sure the file /etc/hosts is
#    properly configured. A good example of a "clean" /etc/hosts file is something like this:
#
#    127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
#    ::1       localhost localhost.localdomain localhost6 localhost6.localdomain6
#    1.2.3.4   hostname.domain.tld hostname
#
#    Finally restart MySQL:
#    $ /scripts/restartsrv_mysql
#
# 4. Make sure the contents of /var/lib/mysql have "mysql" as the file/folder owner
#    and restart MySQL:
#    $ chown -R mysql:mysql /var/lib/mysql/*
#    $ /scripts/restartsrv_mysql
#

[client]
port                            = 3306
socket                          = /tmp/mysql.sock

[mysqld-safe]
socket                          = /tmp/mysql.sock
nice                            = 0

[mysqld]
basedir                         = /usr
bind-address                    = 127.0.0.1 # Comment out if you want remote servers to connect to this server's MySQL instance
datadir                         = /var/lib/mysql
lc-messages-dir                 = /usr/share/mysql
max-allowed-packet              = 16M
myisam-recover                  = BACKUP
pid-file                        = /var/lib/mysql/web.dontsee.me.pid
port                            = 3306
skip-external-locking
#socket                          = /tmp/mysql.sock
thread-stack                    = 192K
tmpdir                          = /tmp
user                            = mysql
local-infile=0
# InnoDB Settings
default-storage-engine          = InnoDB
#innodb-buffer-pool-size         = 2G    # Use up to 70-80% of RAM & optionally check if /proc/sys/vm/swappiness is set to 0
innodb-buffer-pool-instances    = 2     # Use 1 instance per 1GB of InnoDB pool size
innodb-file-per-table           = 1
innodb-flush-log-at-trx-commit  = 0
innodb-flush-method             = O_DIRECT
innodb-log-buffer-size          = 8M
innodb-log-file-size            = 128M

# MyISAM Query Cache Settings
query-cache-limit               = 3M    # UPD
query-cache-size                = 48M   # UPD
query-cache-type                = 1

key-buffer-size                 = 48M   # UPD

join-buffer-size                = 3M    # UPD
sort-buffer-size                = 2M    # UPD
read-buffer-size                = 2M    # UPD
read-rnd-buffer-size            = 2M    # UPD

max-heap-table-size             = 128M
tmp-table-size                  = 128M

table-definition-cache          = 5000  # UPD
table-open-cache                = 5000  # UPD
open-files-limit                = 15000 # UPD

max-connections                 = 80    # UPD
max-user-connections            = 60    # UPD

wait-timeout                    = 300
low-priority-updates            = 1
concurrent-insert               = 2
thread-cache-size               = 40    # UPD

ft-min-word-len                 = 3     # Minimum length of words to be indexed for search results

log-error                       = /var/lib/mysql/mysql_error.log
log-queries-not-using-indexes   = 1
slow-query-log                  = 1
slow-query-log-file             = /var/lib/mysql/mysql_slow.log
long-query-time                 = 5
expire-logs-days                = 7
max-binlog-size                 = 100M

max_allowed_packet=268435456
open_files_limit=10000
[mysqldump]
quick
quote-names
max-allowed-packet              = 16M

[mysql]

[isamchk]
key-buffer                      = 16M
